<section class="guias">
    <div class="tareas">
        <article>
            <h2>Guía 1</h2>
            <p>
                Se les comunica que esta es la guía para el primer parcial el cual será el viernes 30 de Agosto de 2019 en el salón a la hora de clase. Se les sugiere trabajar con tiempo y en equipo para que puedan resolver toda la guía sin la presión del tiempo y así
                en caso de surgirles dudas puedan decirnos con tiempo y atenderlas en clase o vía correo electronico.
            </p>
        </article>
    </div>
</section>

<section class="main">
    <iframe src="https://drive.google.com/file/d/1vGzc4JhTuhtSXD3rO8ZgnnurnKh7wA29/preview" width="580" height="740"></iframe>

</section>