<section class="inicio">
    <div class="mensaje">
        <article class="bienvenida">
            <h2>Bienvenidos</h2>
            <p class="bienvenida">Está es la página del curso de cálculo diferencial e integral I del grupo 4041 de la Facultad de Ciencias.</p>

        </article>

    </div>

    <div class="mensajem">
        <article class="bienvenidam">
            <h2>Bienvenidos</h2>
            <p class="bienvenidam">Este es el sitio del curso de cálculo diferencial e integral I del grupo 4041 de la Facultad de Ciencias.</p>

        </article>

    </div>
</section>

<section class="main">

    <div class="contenedor">
        <h2>Mensaje de Bienvenida</h2>

        <p>Antes que nada queremos darles la bienvenida a la Facultd de Ciencias de la UNAM, un lugar en que aprenderán mucho y en el que estarán en un entorno muy diferente a lo que han vivido. Es para nosotros un gusto recibirlos y ser parte de su formación
            así como de sus primeros profesores que los ayudarán en su formación.</p>
        <p>
            A nosotros nos tocará apoyarlos en la materia de Cálculo Diferencial e integral I, la cual es muy importante en las distntas carreras de matemáticas, actuaria y física, pues la veremos en un enfoque en que nos preguntaremos el por qué de las cosas y no
            solo aplicar cálculos con las diversas formulas conocidas.
        </p>

        <p>Nuestro objetivo es darles la formación y contenido esencial para que no solo pasen a los siguientes semestres, sino que ustedes mismos puedan aprender de forma autodidacta contenidos adicionales con las bases que nosotros les brindaremos. Además
            buscamos con base a nuestra experiencia, ayudarlos a desarrollar la lógica matemática que es tan indispensable para estas carreras.
        </p>
        <p>El objetivo de está página es mantenerlos informados sobre el curso, aqui publicaremos avisos y contenido adicional del curso con la finalidad de que ustedes puedan enriquecerse aún más con conocimientos de la materia. Los invitamos a externarnos
            sus dudas, que no tengan miedo de preguntar y a que se esfuercen mucho de manera individual y colectiva para que tengan un buen desempeño.
        </p>

        <p>Estamos para guiarlos y esperamos la mejor disposición de su parte para aprender.</p>

        <p>Saludos</p>
    </div>

    <br>

    <div class="frase">
        <img src="img/frase.jpg" alt="">
    </div>

</section>