<section class="contacto">
    <div class="correos">
        <article class="correos">
            <h2>Correos</h2>
            <p>Maestra: María Juana Linares Altamirano</p>
            <p>
                <a href="mailto:linares.juanita@gmail.com?Subject=Contacto" title="Escribir a la maestra">linares.juanita@gmail.com</a> </p>
            <br>
            <p>Ayudante: Alejandro Melchor Galván</p>
            <p>
                <a href="mailto:amg_29-90@hotmail.com?Subject=Contacto" title="Escribir a Alejandro">amg_29-90@hotmail.com</a> </p>
            <p>
                <br>
                <p>Ayudante: Apolonia Juana Pérez Sarabia</p>
                <p>
                    <a href="mailto:polasabia@yahoo.com?Subject=Contacto" title="Escribir a Alejandro">polasabia@yahoo.com</a> </p>

        </article>
    </div>
</section>

<section class="main">
    <div class="contenedor">

        <h2>Temario</h2>
        <article>

            <li>Métodos de demostración</li>
            <li> Números Reales (Axiomas de los números reales y su aplicación)</li>
            <li>Funciones y Sucesiones</li>
            <li>Límites de funciones y límites de sucesiones</li>
            <li>Continuidad</li>
            <li>Derivada</li>

        </article>
    </div>
</section>