<section class="webs">
    <div class="sitios">

        <article class="sitios">
            <h2>Sitios Web</h2>
            <p>En estos sitios podras contenido interactivo de cálculo 1 que les servirá como material de apoyo durante todo el semestre.</p>
            <p><a class="enlaces" title="Visitar sitio de cálculo I" target="_blank" href="http://newton.matem.unam.mx/calculo1/">http://newton.matem.unam.mx/calculo1/</a></p>
            <p><a class="enlaces" title="Visitar sitio de lógica y conjuntos" target="_blank" href="http://newton.matem.unam.mx/comunidades/">http://newton.matem.unam.mx/comunidades/</a></p>
            <!-- </article> -->

        </article>

    </div>
</section>

<section class="main">
    <div class="contenedor">
        <h2>Libros de Consulta</h2>

        <li>M.Spivak. Calculus Reverté 3a Edición</li>
        <li>Arizmendi, Carrillo y Lara. Cálculo Primer curso. Addison Wesley Iberoamericana</li>
        <li>James Stewart. Calculo de una variable / Single Variable Calculus: Trascendentes tempranas / Early Trascendentals (Spanish Edition). 8ª. Edición</li>
        <li>Jon Rogawski. CÁLCULO: una variable. Editorial REVERTÉ Segunda Edición Original.</li>
        <li>Javier Fernández García. Un acercamiento a los fundamentos del cálculo: el infinito y los números reales. Facultad de Ciencias, Publicaciones Fomento Editorial</li>
        <li>Haaser, LaSalle y Sullivan. Análisis Matemático I. Trillas</li>
        <li>Gonzalo Zubieta R. Manual de Lógica para estudiantes. Trillas.</li>
    </div>


</section>